<!-- FILE MENU END SEARCH -->
<nav class="navbar navbar-expand-md sticky-top fileMenu" id="navBar">
    <!-- <a class="navbar-brand" href="/"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <!-- Datamuse Search Form -->
            <div class="dataMuseformParent">
                <form class="form ">
                    <input placeholder="Search for Word/Phrase" type=text id="wordInput">
                    <button class="btn searchBtn m-2" type=submit value="Search" id="searchBtn">Search <i
                            class="fas fa-search"></i></button><br>
                </form>
            </div>
            <!-- End Datamuse -->
</nav>
<!-- GREEN SEARCH BAR -->
<div class=" nav navbar-expand-md menu searchBar">
    <div class="icons">
        <a class="text-light">
            <span class="fa-layers fa-fw">
                <span class="fa-layers-text" id="save-song-text" data-fa-transform="shrink-11.5 rotate--30"
                    style="font-weight:900">SAVE SONG
                    <i class="fas fa-save save-song" id="save-song">
                </span>
                </i>
            </span>
        </a>
        <a class="text-light new-song">
            <span class="fa-layers fa-fw">
                <span class="fa-layers-text" data-fa-transform="shrink-11.5 rotate--30" style="font-weight:900">NEW
                    SONG</span>
                <i class="fas fa-plus "></i>
            </span>
        </a>
        <a class="text-light">
            <span class="fa-layers fa-fw">
                <span class="fa-layers-text" id="hide-files">
                    SHOW/HIDE FILES
                </span>
                <i class="fas fa-eye-slash hide-songs">
                </i>
            </span>
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- SAVED SONGS LIST -->
        <div class="col-12 col-md-4 col-lg-3 list-container" id="listContainer">
            <div class="card">
                <ul class="list-group"></ul>
            </div>
        </div>
        <!-- END SAVED SONGS -->
        <!-- MAIN SECTION -->
        <main class="col-12 col-md-8 col-lg-9 mainSection">
            <!-- TABS START -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!-- Lyric Pad Tab -->
                <li class="nav-item tab-item" role="presentation">
                    <a class="nav-link active" id="lyricPad-tab" data-toggle="tab" href="#lyricPad" role="tab"
                        aria-controls="lyricPad" aria-selected="true">Lyric Pad</a>
                </li>
                <!-- Words Tab -->
                <li class="nav-item tab-item" role="presentation">
                    <a class="nav-link" id="words-tab" data-toggle="tab" href="#words" role="tab" aria-controls="words"
                        aria-selected="false">Rhymes & More</a>
                </li>
            </ul>
            <!-- TAB CONTENT -->
            <div class="tab-content" id="myTabContent">
                <!-- Lyric Pad Tab Content-->
                <div class="tab-pane fade show active" id="lyricPad" role="tabpanel" aria-labelledby="home-tab">
                    <input class="song-title" placeholder="Song Title" maxlength="50" type="text" />
                    <input class="composer" placeholder="Composer" maxlength="50" type="text" />
                    <textarea class="song-textarea" placeholder="Lyric Text" id="song-textarea"></textarea>
                </div>
                <!-- Words Tab Content-->
                <div class="tab-pane fade" id="words" role="tabpanel" aria-labelledby="words-tab">
                    <div id="dataMuseParent">
                    </div>
                    <!-- RHYMES START -->
                    <!-- Tabs -->
                    <p id="search4word">Search for a word or phrase...</p>
                    <ul class="nav nav-pills mb-3 hide results" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-rhyme-tab" data-toggle="pill" href="#pills-rhyme"
                                role="tab" aria-controls="pills-rhyme" aria-selected="true">Rhyme/Near Rhyme</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-pairings-tab" data-toggle="pill" href="#pills-pairings"
                                role="tab" aria-controls="pills-pairings" aria-selected="false">Popular Noun/Adj</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-words-tab" data-toggle="pill" href="#pills-words" role="tab"
                                aria-controls="pills-words" aria-selected="false">Synonym/Antonym</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-more-tab" data-toggle="pill" href="#pills-more" role="tab"
                                aria-controls="pills-more" aria-selected="false">More General/Specific</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab"
                                aria-controls="pills-2" aria-selected="false">Freq Before/After</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab"
                                aria-controls="pills-3" aria-selected="false">Words</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab"
                                aria-controls="pills-4" aria-selected="false">Expand</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link " id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab"
                                aria-controls="pills-1" aria-selected="true">Matching Const</a>
                        </li>
                    </ul>
                    <!-- Tab Content -->
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-rhyme" role="tabpanel"
                            aria-labelledby="pills-rhyme-tab">
                            <div class="container-fluid">
                                <div class="row justify-content-around">
                                    <div class="resultDiv hide col-12 col-lg-6   " id="resultParentRhyme"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentNearRhyme"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentSoundsLike"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-pairings" role="tabpanel"
                            aria-labelledby="pills-pairings-tab">
                            <div class="container-fluid">
                                <div class="row justify-content-around">
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentPopularNouns"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentPopularAdjs"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-words" role="tabpanel" aria-labelledby="pills-words-tab">
                            <div class="container-fluid">
                                <div class="row justify-content-around">
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentSynonym"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentAntonym"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentHomonym"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentSimilarMeaning"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-more" role="tabpanel" aria-labelledby="pills-more-tab">
                            <div class="container-fluid">
                                <div class="row justify-content-around">
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentMoreGeneral"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentMoreSpecific"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <div class="container-fluid">
                                <div class="row justify-content-around">
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentConstMatch"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <div class="container-fluid">
                                <div class="row justify-content-around">
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentfreqBefore"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentfreqFollow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                            <div class="container-fluid">
                                <div class="row justify-content-around">
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentSimilar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                            <div class="container-fluid">
                                <div class="row justify-content-around">
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentComprises"></div>
                                    <div class="resultDiv hide col-12 col-lg-6  " id="resultParentPartOf"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RHYMES END -->
                </div>
            </div>
    </div>
    </main>
</div>
<script src="/js/song.js"></script>
<script src="/js/datamuse.js"></script>